[tool.poetry]
name = "uiauto-dev"
version = "0.0.0"
description = "Mobile UI Automation, include UI hierarchy inspector, script recorder"
homepage = "https://uiauto.dev"
authors = ["codeskyblue <codeskyblue@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = {extras = ["all"], version = "^0.109.2"}
uvicorn = {extras = ["standard"], version = "^0.27.1"}
pillow = "*"
adbutils = "^2.4.1"
construct = "*"
lxml = "*"
click = "^8.1.7"
pygments = ">=2"
httpretty = {version = "^1.1.4", optional = true}
appium-python-client = {version = "^4.0.0", optional = true}

[tool.poetry.extras]
appium = ["appium-python-client", "httppretty"]

[tool.poetry.scripts]
"uiauto.dev" = "uiauto_dev.__main__:main"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0.1"
isort = "^5.13.2"
pytest-cov = "^4.1.0"

[tool.poetry-dynamic-versioning] # 根据tag来动态配置版本号
enable = true

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"
